<div class="text-white m-2">
        <!-- <div class="p-2" [ngClass]="getClassMap(1)">
                The first product is {{model.getProduct(1).name}}.
        </div>
        <div class="p-2" [ngClass]="getClassMap(2)">
                The second product is {{model.getProduct(2).name}}.
        </div>
        <div class="p-2" [ngClass]="{'bg-success': model.getProduct(3).price < 50,
        'bg-info': model.getProduct(3).price >= 50}">
                The third product is {{model.getProduct(3).name}}
        </div> -->

        <!-- <div class="p-2 bg-warning">
                The <span [ngStyle]="getStyles(1)">first</span>
                product is {{model.getProduct(1).name}}.
        </div>
        <div class="p-2 bg-info">
                        The <span [ngStyle]="getStyles(2)">second</span>
                        product is {{model.getProduct(2).name}}.
        </div> -->

        <!-- <div [ngClass]="getClassesByPosition(0)">
                The first product is {{getProductByPosition(0).name}}.
        </div>
        <div [ngClass]="getClassesByPosition(1)">
                        The first product is {{getProductByPosition(1).name}}.
        </div> -->

        <!-- <div class="text-white m-2">
                <div class="bg-info p-2">
                        There are {{getProductCount()}} products.
                </div>
        </div>
        <div *ngIf="getProductCount() > 4" class="bg-info p-2 mt-1">
                There are more than 4 products in the model
        </div>
        <div *ngIf="getProductByPosition(0).name != 'Kayak'" class="bg-info p-2 mt-1">
                The first product isn't a Kayak
        </div> -->

        <!-- <div class="text-white m-2">
                <div class="bg-info p-2">
                        There are {{getProductCount()}} products.
                </div>
                <div class="bg-info p-2 mt-1" [ngSwitch]="getProductCount()">
                        <span *ngSwitchCase="2">There are two products</span>
                        <span *ngSwitchCase="5">There are five products</span>
                        <span *ngSwitchDefault>This is the default</span>
                </div>
        </div>
        <div class="text-white m-2">
                <div class="bg-info p-2">
                        There are {{getProductCount()}} products.
                </div>
                <div class="bg-info p-2 mt-1" [ngSwitch]="getProduct(1).name">
                        <span *ngSwitchCase="targetName">Kayak</span>
                        <span *ngSwitchCase="'Lifejacket'">Lifejacket</span>
                        <span *ngSwitchDefault>Other Product</span>
                </div>
        </div> -->

        <div class="text-white m-2">
                <div class="bg-info p-2">
                        There are {{getProductCount()}} products.
                </div>
                <table class="table table-sm table-bordered mt-1 text-dark">
                        <tr>
                                <th>Name</th>
                                <th>Category</th>
                                <th>Price</th>
                        </tr>
                        <tr *ngFor="let item of getProducts()">
                                <td>{{item.name}}</td>
                                <td>{{item.category}}</td>
                                <td>{{item.price}}</td>
                        </tr>
                </table>
        </div>
</div>